*{
    padding: 0;
    margin: 0;
    border: 0;
}
body{
    width: 100vw;
    height: 100vh;
}
/* #map{
    width: 90vw;
    height: 90vh;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
} */
#map{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}